.chat-tile {
  display: flex;
  color: var(--text-secondary);
  height: 72px;
  position: relative;
  margin-bottom: 0px;
  /* padding: 12px; */
  column-gap: 10px;
  align-items: center;
}

.chat-tile:hover {
  background-color: var(--primary);
  cursor: pointer;
}

.chat-tile > img {
  height: 49px;
  width: 49px;
  border-radius: 50%;
  margin: 0px 5px 0px 13px;
}

.chat-tile::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0px;
  width: 100%;
  height: 0.1px;
  background-color: var(--border-color);
}

.chat-tile-details {
  flex-grow: 1;

  padding-right: 15px;
}

.chat-tile-title {
  display: flex;
  justify-content: space-between;
}

.chat-tile-title > :first-child {
  color: var(--text-primary-strong);
  font-size: 17px;
}

.chat-tile-title > :nth-child(2) {
  font-size: 12px;
}

.chat-tile-subtitle {
  display: flex;
  white-space: nowrap;

  /* max-width: 100%; */
  /* overflow: hidden; */
  /* text-overflow: ellipsis; */
  justify-content: space-between;
}

.chat-tile-menu {
  /* display: none; */
}

.chat-tile:hover > .chat-tile-details > .chat-tile-subtitle ~ .chat-tile-menu {
  display: inline-flexbox;
  background-color: red;
}
