#sidebar {
  flex-grow: 1;

  display: flex;
  flex-direction: column;
  border-right: solid 1px var(--border-color);
}

#sidebar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: var(--header-height);
  background-color: var(--primary);
  padding: 20px 15px;
}

#profile-image {
  height: 40px;
}

.toolbar {
  /* width: 190px; */
  display: flex;
  justify-content: space-between;
}

#search-toolbar {
  display: flex;
  column-gap: 10px;
  height: 49px;
  padding: 7px 10px;
}

#search-input {
  padding-left: 30px;
}

#sidebar-contents {
  flex-grow: 1;
  overflow: auto;

  display: flex;
  flex-direction: column;
}

#connectivity-notification {
  /* max-width: ; */
  padding: 12px 15px;
  background-color: var(--bg-color-secondary);
}
