body {
  background-color: var(--bg-color);
}

main {
  display: flex;
  align-items: stretch;
  height: 100%;
}

.avatar {
  border-radius: 50%;
}

.icon {
  padding: 8px;
  cursor: pointer;
  filter: invert(79%) sepia(18%) saturate(148%) hue-rotate(158deg)
    brightness(91%) contrast(88%);
}

.pin {
  filter: invert(79%) sepia(18%) saturate(148%) hue-rotate(158deg)
    brightness(91%) contrast(88%);
}

.hidden {
  visibility: hidden;
}
