img {
  background-color: white;
}

body {
  background-color: var(--bg-color);
}

main {
  display: flex;
  align-items: stretch;
  height: 100%;
}

#sidebar {
  flex-grow: 1;
  /* height: 100%; */
  /* overflow: auto; */
}

#main-content {
  flex-grow: 2;
  background: url(../images/chat-bg.png);
}

#sidebar > header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: var(--header-height);
  background-color: var(--primary);
}

#sidebar > section {
  /* height: 100%; */
  overflow: auto;
}

#main-content > header {
  display: flex;
  height: var(--header-height);
  padding: 15px 20px;
  background-color: var(--primary);
}

#main-content > footer {
  display: flex;
  column-gap: 10px;
  height: 62px;
  width: 100%;
  padding: 15px 25px;
  background-color: var(--primary);
}

#chat-box {
  flex-grow: 1;
}

.chat {
  display: flex;
  color: white;
  height: 72px;
  position: relative;
  margin-bottom: 10px;
}

.chat::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 100%;
  height: 1px;
  background-color: white;
}

aside > section {
  display: flex;
  flex-direction: column;
}

#chats-list {
  /* flex-grow: 1; */
}
